<div class="container">
  <h2>Alterar Cliente</h2>
  <div class="content">
    <div class="field-group">
      <p>Código:</p>
      <input type="text" name="code" placeholder=" Ex: 000001" />

      <p>Loja:</p>
      <input type="text" name="store" placeholder=" Ex: 01" />
    </div>

    <div class="field-group">
      <p>Nome / Razão Social:</p>
      <input type="text" name="name" placeholder=" Ex: José da Silva" />

      <p>Apelido / Nome Fantasia:</p>
      <input type="text" name="reduced-name" placeholder=" Ex: José" />

      <p>Tipo:</p>
      <select name="type" id="type">
        <option value="F">Cons. Final</option>
        <option value="L">Produtor Rural</option>
        <option value="R">Revendedor</option>
        <option value="S">Solidário</option>
        <option value="X">Exportação</option>
      </select>
    </div>

    <div class="field-group">
      <p>CEP:</p>
      <input type="number" name="zip-code" placeholder=" Ex: 12345678" />

      <p>Endereço:</p>
      <input type="text" name="adress" placeholder=" Ex: Av. 9 de Julho" />

      <p>Nº:</p>
      <input type="number" name="adress" placeholder=" Ex: Av. 9 de Julho" />

      <p>Complemento:</p>
      <input type="number" name="adress" placeholder=" Ex: Av. 9 de Julho" />

      <p>Município:</p>
      <input type="text" name="city" placeholder=" Ex: Jundiaí" />

      <p>Estado:</p>
      <input type="text" name="state" placeholder=" Ex: SP" />
    </div>
    <button class="btn">Cadastrar</button>
  </div>
</div>
