<div class="container">
  <div class="menu">
    <div class="register option">
      <button class="btn">
        <img
          src="../../../../../assets/icons/cadastrar.svg"
          alt="Desenho de busto de homem"
          title="Cadastrar Cliente"
        />
        Cadastrar Cliente
      </button>
    </div>
    <div class="edit option">
      <button class="btn">
        <img
          src="../../../../../assets/icons/alterar.svg"
          alt="Desenho de busto de homem"
          title="Alterar Cadastro"
        />
        Alterar Cliente
      </button>
    </div>
    <div class="delete option">
      <button class="btn">
        <img
          src="../../../../../assets/icons/lixeira.svg"
          alt="Desenho de busto de homem"
          title="Excluir Cliente"
        />
        Excluir Cliente
      </button>
    </div>
    <div class="search option">
      <button class="btn">
        <img
          src="../../../../../assets/icons/buscar.svg"
          alt="Desenho de busto de homem"
          title="Buscar Cliente"
        />
        Buscar Cliente
      </button>
    </div>
    <div class="list option">
      <button class="btn">
        <img
          src="../../../../../assets/icons/lista.png"
          alt="Desenho de busto de homem"
          title="Listar Clientes"
        />
        Listar Todos Clientes
      </button>
    </div>
  </div>
</div>
